{
    "extends": "airbnb",
    "rules": {
        "react/prop-types": 0,
        "no-console": "off",
        "object-curly-newline": ["error", { "consistent": true }]
    },
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "globals": {
        "Helmet": true,
        "HelmetProvider": true
    }
}