{
    "extends": "airbnb",
    "rules": {
        "react/prop-types": 0,
        "no-console": "off"
    },
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "globals": {
        "Helmet": true,
        "HelmetProvider": true
    }
}