html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* Overflow should not be set to hidden to allow content scrolling */
}

/* Reset zoom and max-zoom */
@viewport {
  zoom: 1;
  max-zoom: 1;
}

#map {
  width: 100vw;
  height: calc(100vh);
  /* Makes sure leaflet copyright is shown*/
}

/* Styles for the app container */
.app-container {
  display: grid;
  grid-template-rows: auto 1fr; /* Updated to allow the header to take its content's height */
  height: 100vh;
  overflow: hidden;
}


/* Styles for the header container */
.header-container {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adjust the logo size based on screen size */
.logo {
  width: 130px;
  height: auto;
}
.dropdown-item {
  z-index: 3;
  /* Makes sure dropdownis visible */
}

.slider-item {
  z-index: 4;
  /* Makes sure slider is visible */
}

.info-item {
  align-self: flex-start;
}


/* Remove zoom from the map container */
.map-container {
  zoom: 1;
}

.disabled {
  pointer-events: none;
  /* disables general controls */
}

.disabled .leaflet-control-zoom {
  display: none;
  /* disables leaflet zoom box */
}


/* Styles for map cluster icons */

.custom-cluster-icon {
  background-color: #E6F2FF;
  color: #000000;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.custom-cluster-icon-score01 {
  background-color: #F2F2F2; 
  color: #000000; 
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.custom-cluster-icon-score02 {
  background-color: #E6E6E6; 
  color: #000000; 
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  width: 40px;
  height: 40px;
}

.custom-cluster-icon-score03 {
  background-color: #D9D9D9; 
  color: #000000; 
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.custom-cluster-icon-score04 {
  background-color: #C6C6C6; 
  color: #000000; 
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.custom-cluster-icon-score05 {
  background-color: #B0B0B0; 
  color: #000000; 
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.custom-cluster-icon-score06 {
  background-color: #FFF7D4; 
  color: #000000; 
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.custom-cluster-icon-score07 {
  background-color: #FFEDAD; 
  color: #000000; 
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.custom-cluster-icon-score08 {
  background-color: #FFDF7D; 
  color: #000000; 
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.custom-cluster-icon-score09 {
  background-color: #FFD34C; 
  color: #000000;  
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

.custom-cluster-icon-score10 {
  background-color: #FF9B00; 
  color: #000000; 
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}

@media (max-width: 600px) {
  .header-container {
    /* Adjust the height for smaller screens */
    min-height: 60px;
  }
  
  /* Adjust the logo size for smaller screens */
  .logo {
    width: 100px; /* Adjust the size as needed */
  }
  
  /* Stack elements vertically on smaller screens */
  .header-container {
    flex-direction: column;
    align-items: center;
  }
}
