html, body {
  width: 100%;
  height: 100%;  
  padding: 0;
  margin: 0;
  overflow: hidden; /* Hides scrollbars */
}

#map {
  width: 100vw;
  height: calc(100vh - 23%); /* Makes sure leaflet copyright is shown*/
}

.app-container {
  display: grid;
  grid-template-rows: 23% 78%;
  height: 100vh; 
  overflow: hidden
}

.header-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 50%;
  width: 95%;
  height: 23%;
  z-index: 1;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
}

.dropdown-item {
  z-index: 3; /* Makes sure dropdownis visible */
}

.slider-item {
  z-index: 4; /* Makes sure slider is visible */
}

.info-item {
  align-self: flex-start;
}


.map-container {
  width: 100%;
  position: fixed;
  top: 23%;
  bottom: 0;
  z-index: 2; /* Makes sure zoom control is visible */
}